/* Provide sufficient contrast against white background */
body{
  background-color: #242424;
}

.scoresNav{
  background-color: #454545;
  min-height: 66px;
  width: 100vw;
}

.matchup{
  display: inline-block;
  margin: 0 5%;
  color: #ffffff;
}
