/* Provide sufficient contrast against white background */
body{
  background-color: #242424;
}

.scoresNav{
  background-color: #454545;
  min-height: 66px;
  width: 100vw;
  text-align: center;
}

.scoresNav form{
  display: inline-block;
  vertical-align: top;
  margin-top: 2.5%;
  margin-right: 15px;
}

.matchup{
  display: inline-block;
  background-color: #666666;
  margin: 0 1px;
  color: #ffffff;
  width: 15vw;
  height: 100%;
  text-align: center;
}

.matchupUsername{
  display: block;
  font-size: .45rem;
  margin: 0;
}

.matchup a{
  margin: 0 5px;
  font-size: .55rem;
  color: #00f7ff;
}

.matchupPhoto{
  max-height: 25px;
  border-radius: 50px;
  margin: 0;
}

.matchupRecord{
  font-size: .55rem;
  opacity: 50%;
  margin-left: 1%;
}

.matchupPoints{
  display: block;
}

.trending{
  border: solid 1px #ff9900;
  display: inline-block;
  width: 45vw;
  border-radius: 20px;
  text-align: center;
  color: white;
  margin: 2%;
}

.trending button{
  width: 50%;
  height: 7.5vh;
  border-top: none;
  border-bottom: solid 1px #ff9900;
  margin: 0;
  background-color:  #666666;
  color:  #00f7ff;
}

.trendingButtonUp{
  border-radius: 20px 0 0 0;
  border-left: none;
  border-right: solid 1px #000000;
}
.trendingButtonDown{
  border-radius: 0 20px 0 0;
  border-right: none;
  border-left: solid 1px #000000;
}

.trendingTable{
  width: 100%;
}

#healthy{
  color: #03ab00;
}
#IR, #COV{
  color: #cf0000;
}
#Questionable{
  color: #d1ca00;
}
#Doubtful{
  color: #e08300;
}